/* Global Css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: #e8792410 !important;
}
.btn-market {
  background-color: #e87924 !important;
  color: #fff !important;
}
/* Navbar Css */
.navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
/* Search Box Css */
.search-box {
  width: 50%;
}

/* Product Css */
.product {
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  transition: 0.6s;
  height: 90%;
}
.card {
  background-color: #fafafa !important;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.price {
  margin-top: auto;
}
.product:hover {
  transform: scale(1.05);
  z-index: 9;
}
.product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-top: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.product-image:hover {
  transform: scale(1.15);
}
/* Cart Css */
.cart {
  padding: 18px;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Rating Icon Css */
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}
/*Responsive Media Query */
@media only screen and (max-width: 768px) {
  .cart {
    padding: 10px;
  }
  .search-box {
    width: 80%;
  }
  .navbar-nav .nav-link {
    text-align: center;
  }
}
